:root {
    --light-brown: #A26459;
    --light-skin: #FDF5D8;
}

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: sans-serif;
}

.top_container {
    height: 8px;
    background-color: var(--light-brown);
}

.content {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.navbarWrapper {
    position: absolute;
    top: 8px;
    background-color: var(--light-skin);
	width: 100%;
	height: 90px;
    background-color: var(--light-skin);
    /* opacity: 0.5; */
}

.leftNavbar {
    position:absolute;
    left: 5%;
    width: 101px;
    height: 90px;
}

#logo {
    width: 90px;
    height: 90px;
    border-radius: 15px;
}

.rightNavbar {
    position:absolute;
    right:5%;
    height: 90px;
    width: 50%;
    /* border-right: 1px solid black; */
    /* border-left: 1px solid black; */
}

.rightNavbar>.menuDesktop>ul {
    margin: 21px auto;
    display: flex;
    justify-content: space-evenly;
}

.rightNavbar>.menuDesktop>.navBarItems>li{
    font: bold 14px verdana;    /*  -> USE HANDY FONT */
    border-radius: 15px;
    padding: 13.5px;
    background: var(--light-brown);
    color: white;
    /* display: inline-block; */
}

.navBarItems>li>a {
    position: relative;
    padding-bottom: 16px;
}

.navBarItems>li>a:hover {
    animation: 1.15s border_animation step-end;

    /* animation: 3s ease-in 1s infinite reverse both running slidein; */
}

.banner_picture {
    position: block;
    top: 40px;
    max-width: 100%;
    /* height: 500px; */
}

.container {
    display: flex;
    /* flex-wrap:nowrap; */ /* Not necessary */
    
    /* border: 1px solid black; */
    margin: 0px 130px;
    border-radius: 5px;
    box-sizing:border-box;
    justify-content: space-between;
    /* position: sticky; */ /* Not neccesary */
    width: max-width;
    height: 500px;
}

#picture_container, #sec_1 {
    border: 1px solid black;
    border-radius: 5px;
    width: 600px;   /* Before: 480px */
    height: 342px;
    margin: auto 0px;
    
    display: flex;
    justify-content: space-around;
}

#sec_1>#info {
    border: 1px solid black;
    height: max-content;
    margin: auto 0px;
}


#sec_1>#info>p {
    margin-bottom: 15px;
    font-size: 22px;
}

/* just to align the draft content in it */
#picture_container>h2, #sec_1>h2 {
    text-align: center;
    margin: auto 0px;
}

/*/////// MEDIA QUERY SECTION ///////*/
@media (max-width: 1250px) {
    .rightNavbar {
        display: none;
    }
}

@keyframes border_animation {
    0% {
        /* padding: 13.5px; */
        border-bottom: 3px solid var(--light-brown);
        border-width: 10%;    
        border-radius: 2px;   

    }
    100% {
        /* padding: 17px; */
        border-bottom: 3px solid var(--light-brown);
        border-width: 100%;    
        border-radius: 2px;    
    }
}