:root {
    --light-brown: #A26459;
    --light-skin: #FDF5D8;
}

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: sans-serif;
}

.content {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.navbarWrapper {
    position: absolute;
    top: 25px;
    background-color: var(--light-skin);
	width: 100%;
	height: 90px;
}

.leftNavbar {
    background-color: var(--light-skin);
    position:absolute;
    left: 5%;
    width: 101px;
    height: 90px;
}

#logo {
    width: 90px;
    height: 90px;
    border-radius: 15px;
}

.rightNavbar {
    background: #FDF5D8;
    position:absolute;
    right:5%;
    height: 90px;
    width: 50%;
    /* border-right: 1px solid black; */
    /* border-left: 1px solid black; */
}

.rightNavbar>.menuDesktop>ul {
    margin: 21px auto;
    display: flex;
    justify-content: space-evenly;
}

.rightNavbar>.menuDesktop>ul>.navBarItem{
    font: bold 14px verdana;    /* USE HANDY FONT */
    border-radius: 15px;
    padding: 13.5px;
    background: var(--light-brown);
    color: white;
    /* display: inline-block; */
}

.navBarItem>a:hover {
    animation: .15s extends_a;
    padding: 17px;
    /* animation: 3s ease-in 1s infinite reverse both running slidein; */
}

.banner_picture {
    position: absolute;
    top: 25px;
    max-width: 100%;
    /* height: 500px; */
}

/*/////// MEDIA QUERY SECTION ///////*/
@media (max-width: 1250px) {
    .rightNavbar {
        display: none;
    }
}

@keyframes extends_a {
    0% {padding: 13.5px;}
    100% {padding: 17px;}
}